---
import Breadcrumb from "../uis/breadcrumb.astro";
---

<section>
  <Breadcrumb
    title="Contacto"
    links={[
      { label: "Home", href: "/" },
      { label: "Contacto", href: "/contacto/" },
    ]}
  />
</section>
