---
---
<section class="py-20 bg-white">
    <div class="container mx-auto px-4">
        <div class="max-w-4xl mx-auto">
        <div class="mb-12">
            <span class="text-gray-600 text-lg">Conéctate y disfruta de un servicio de internet confiable y veloz.</span>
            <h2 class="mt-3 text-3xl md:text-4xl font-bold text-gray-900">Experimente Jefferson AFE posibilidades ilimitadas</h2>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6">
            <a href="/services/conexion-estable/" class="group relative rounded-2xl border border-gray-200 bg-white p-6 shadow-lg transition-all hover:-translate-y-1 hover:shadow-xl">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-transparent group-hover:ring-orange-500/30" />
            <div class="relative">
                <div class="w-14 h-14 rounded-2xl bg-orange-50 flex items-center justify-center mb-5">
                <svg viewBox="0 0 480.219 480.219" xmlns="http://www.w3.org/2000/svg" class="w-9 h-9 fill-orange-500">
                    <path d="m476.74 296.332-38.24-146.01c-11.169-42.66-47.156-73.126-89.568-78.358-3.551-.438-6.976 1.482-8.394 4.767l-14.929 34.602c-6.188 15.072-20.703 24.806-37.001 24.806h-96.997c-16.327 0-30.863-9.768-37.034-24.884l-14.052-34.469c-1.364-3.347-4.801-5.338-8.391-4.925-42.82 4.931-79.183 35.563-90.414 78.461l-38.24 146.01c-7.95 30.33-2.13 62.42 15.95 88.04 23.643 33.496 73.652 32.798 96.37-1.29l28.88-43.32c9.838-14.756 26.399-23.62 44.134-23.62h102.591c17.735 0 34.297 8.864 44.134 23.62l28.88 43.32c22.848 34.283 72.928 34.506 96.37 1.29 18.081-25.62 23.901-57.71 15.951-88.04zm-353.63-90.193c-15.991 0-29-13.009-29-29s13.009-29 29-29 29 13.009 29 29-13.01 29-29 29zm81 55h-15v15c0 4.418-3.582 8-8 8s-8-3.582-8-8v-15h-15c-4.418 0-8-3.582-8-8s3.582-8 8-8h15v-15c0-4.418 3.582-8 8-8s8 3.582 8 8v15h15c4.418 0 8 3.582 8 8s-3.582 8-8 8zm97 21c-15.991 0-29-13.009-29-29s13.009-29 29-29 29 13.009 29 29-13.01 29-29 29zm33.009-97c-4.418 0-8.005-3.582-8.005-8 0-4.394 3.548-8 8.005-8 4.418 0 8 3.582 8 8s-3.581 8-8 8zm23 23c-4.418 0-8.005-3.582-8.005-8 0-4.394 3.548-8 8.005-8 4.418 0 8 3.582 8 8s-3.581 8-8 8zm0-46c-4.418 0-8.005-3.582-8.005-8 0-4.394 3.548-8 8.005-8 4.418 0 8 3.582 8 8s-3.581 8-8 8zm22.981 23c-4.418 0-8-3.582-8-8s3.582-8 8-8 8.005 3.582 8.005 8c0 4.394-3.549 8-8.005 8zm-210.708-79.927-9.397-23.049c-2.145-5.262 1.726-11.02 7.408-11.02h145.957c5.752 0 9.624 5.888 7.346 11.169l-9.816 22.751c-4.22 9.948-13.08 15.076-22.281 15.076h-96.997c-9.797 0-18.519-5.86-22.22-14.927z"/>
                </svg>
                </div>
                <h3 class="text-lg font-bold text-gray-900 group-hover:text-orange-500 transition-colors">Conexión Estable</h3>
            </div>
            </a>

            <a href="/services/velocidad-increible/" class="group relative rounded-2xl border border-gray-200 bg-white p-6 shadow-lg transition-all hover:-translate-y-1 hover:shadow-xl">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-transparent group-hover:ring-orange-500/30" />
            <div class="relative">
                <div class="w-14 h-14 rounded-2xl bg-orange-50 flex items-center justify-center mb-5">
                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="w-9 h-9 fill-orange-500">
                    <g id="SOLID">
                    <path d="m181.55713 370.24512-11.11426 11.50976a124.20218 124.20218 0 0 0 171.11426 0l-11.11426-11.50976c-41.04787 39.63965-107.83787 39.63965-148.88574 0z"/>
                    <path d="m256 456c44.49658 0 86.31494-17.91357 117.75244-50.44043l-11.50488-11.11914c-28.39551 29.37939-66.12793 45.55957-106.24756 45.55957s-77.852-16.18018-106.24756-45.55957l-11.50488 11.11914c31.4375 32.52686 73.25586 50.44043 117.75244 50.44043z"/>
                    <path d="m255.99951 480c-52.15185 0-101.21338-21.82471-138.147-61.4541l-11.70508 10.9082c39.99368 42.9126 93.21195 66.5459 149.85208 66.5459h.00049c56.63623 0 109.86084-23.63574 149.85254-66.5459l-11.70508-10.9082c-36.93408 39.62939-85.99609 61.4541-138.14795 61.4541z"/>
                    <path d="m352 223.208v-36.66552a170.9855 170.9855 0 0 0 -28.76929-94.74121l-9.81225 5.45117a118.54755 118.54755 0 0 1 -49.41846 14.59863v32.14893h-16v-32.14893a118.54781 118.54781 0 0 1 -49.41846-14.59863l-9.81231-5.45117a170.98592 170.98592 0 0 0 -28.76923 94.74121v149.45752h192zm-37.65674-52.86475 11.31348 11.31348-48.0022 48.0022a24.009 24.009 0 1 1 -11.31348-11.31348zm-58.34326 149.65675a80 80 0 0 1 0-160 79.20575 79.20575 0 0 1 35.56006 8.32031l-7.12012 14.32813a63.10446 63.10446 0 0 0 -20.43994-6.14551v15.49707h-16v-15.48218a63.66874 63.66874 0 0 0 -31.21252 12.95618l12.86926 12.86926-11.31348 11.31348-12.86926-12.86926a63.66874 63.66874 0 0 0 -12.95618 31.21252h15.48218v16h-15.48218a63.982 63.982 0 0 0 126.96436 0h-15.48218v-16h15.50354a63.0432 63.0432 0 0 0 -6.6095-21.34326l14.21289-7.34766a80.02654 80.02654 0 0 1 -71.10693 116.69092z"/>
                    <path d="m305.648 83.26611 8.01538-4.453a170.5671 170.5671 0 0 0 -57.66338-45.95764 170.5679 170.5679 0 0 0 -57.66339 45.95764l8.01544 4.453a101.62588 101.62588 0 0 0 99.29595 0z"/>
                    <path d="m398.43115 279.84473a57.56757 57.56757 0 0 1 -30.43115-16.80982v72.96509h64v-15.208a41.87087 41.87087 0 0 0 -33.56885-40.94727z"/>
                    <circle cx="256" cy="240" r="8"/>
                    <path d="m144 263.03491a57.56735 57.56735 0 0 1 -30.43115 16.80982 41.87087 41.87087 0 0 0 -33.56885 40.94727v15.208h64z"/>
                    <path d="m424 40h16v40h-16z"/>
                    <path d="m392 120h16v64h-16z"/>
                    <path d="m392 208h16v16h-16z"/>
                    <path d="m464 104h16v56h-16z"/>
                    <path d="m448 208h16v56h-16z"/>
                    <path d="m104 16h16v48h-16z"/>
                    <path d="m32 48h16v48h-16z"/>
                    <path d="m32 112h16v16h-16z"/>
                    <path d="m88 112h16v64h-16z"/>
                    <path d="m32 192h16v64h-16z"/>
                    </g>
                </svg>
                </div>
                <h3 class="text-lg font-bold text-gray-900 group-hover:text-orange-500 transition-colors">Velocidad Increíble</h3>
            </div>
            </a>

            <a href="/services/velocidad-simetrica/" class="group relative rounded-2xl border border-gray-200 bg-white p-6 shadow-lg transition-all hover:-translate-y-1 hover:shadow-xl">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-transparent group-hover:ring-orange-500/30" />
            <div class="relative">
                <div class="w-14 h-14 rounded-2xl bg-orange-50 flex items-center justify-center mb-5">
                <svg viewBox="0 -30 512 512" xmlns="http://www.w3.org/2000/svg" class="w-9 h-9 fill-orange-500">
                    <path d="m205.574219 240.128906h-63.046875v142.363282h-32.945313l64.46875 69.878906 64.46875-69.878906h-32.945312zm0 0"/>
                    <path d="m337.949219 170.25-64.46875 69.878906h32.945312v142.363282h63.046875v-142.363282h32.945313zm0 0"/>
                    <path d="m433.644531 156.707031c-4.53125 0-8.964843.40625-13.289062 1.144531.429687-4.53125.671875-9.117187.671875-13.761718 0-79.578125-64.511719-144.089844-144.089844-144.089844-76.132812 0-138.429688 59.058594-143.683594 133.851562-11.9375-5.480468-25.203125-8.558593-39.195312-8.558593-51.945313 0-94.058594 42.113281-94.058594 94.0625s42.113281 94.058593 94.0625 94.058593h18.46875v-103.285156h123.042969v26.84375l102.375-110.964844 132.960937 144.117188h-71.4375v43.289062h34.171875c43.273438 0 78.355469-35.078124 78.355469-78.355468 0-43.273438-35.078125-78.351563-78.355469-78.351563zm0 0"/>
                </svg>
                </div>
                <h3 class="text-lg font-bold text-gray-900 group-hover:text-orange-500 transition-colors">Velocidad Simétrica</h3>
            </div>
            </a>

            <a href="/services/amplia-cobertura/" class="group relative rounded-2xl border border-gray-200 bg-white p-6 shadow-lg transition-all hover:-translate-y-1 hover:shadow-xl">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-transparent group-hover:ring-orange-500/30" />
            <div class="relative">
                <div class="w-14 h-14 rounded-2xl bg-orange-50 flex items-center justify-center mb-5">
                <svg viewBox="-119 0 511 512" xmlns="http://www.w3.org/2000/svg" class="w-9 h-9 fill-orange-500">
                    <path d="m70.414062 103.351562 25.492188 15.8125c8.878906-14.316406 24.203125-22.863281 40.980469-22.863281 16.78125 0 32.101562 8.546875 40.980469 22.863281l25.496093-15.8125c-14.394531-23.199218-39.242187-37.050781-66.476562-37.050781s-52.082031 13.851563-66.472657 37.050781zm0 0"/>
                    <path d="m136.890625 30c41.242187 0 78.890625 20.996094 100.707031 56.167969l25.496094-15.816407c-27.332031-44.050781-74.507812-70.351562-126.203125-70.351562-51.699219 0-98.878906 26.300781-126.207031 70.351562l25.492187 15.8125c21.816407-35.167968 59.464844-56.164062 100.714844-56.164062zm0 0"/>
                    <path d="m136.886719 235.492188c-25.488281 0-46.222657 20.738281-46.222657 46.222656 0 25.488281 20.734376 46.222656 46.222657 46.222656s46.222656-20.734375 46.222656-46.222656c0-25.484375-20.734375-46.222656-46.222656-46.222656zm0 0"/>
                    <path d="m137.792969 145.335938-.921875-.007813c-75.195313 0-136.371094 61.183594-136.371094 136.386719 0 41.230468 20.785156 72.992187 43.9375 104.570312l92.171875 125.714844 92.722656-125.710938c23.15625-31.582031 43.941407-63.339843 43.941407-104.570312 0-74.902344-60.695313-135.894531-135.480469-136.382812zm-.90625 212.601562c-42.027344 0-76.222657-34.191406-76.222657-76.222656s34.195313-76.222656 76.222657-76.222656c42.03125 0 76.222656 34.191406 76.222656 76.222656s-34.191406 76.222656-76.222656 76.222656zm0 0"/>
                </svg>
                </div>
                <h3 class="text-lg font-bold text-gray-900 group-hover:text-orange-500 transition-colors">Amplia Cobertura</h3>
            </div>
            </a>
        </div>
        </div>
    </div>
</section>