---
import Breadcrumb from "../uis/breadcrumb.astro";
---

<section>
  <Breadcrumb
    title="Regulación"
    links={[
      { label: "Home", href: "/" },
      { label: "Regulación", href: "/regulacion/" },
    ]}
  />
</section>
