---
import Layout from "../layouts/main.astro"
import Header from "../uis/header.astro";
import Hero from "../uis/hero.astro";
import Features from "../uis/features.astro";
import Benefits from "../uis/benefits.astro";
import Plans from "../uis/plan.astro";
import Coverage from "../uis/coverage.astro";
import Testimonials from "../uis/testimonials.astro";
import FAQs from "../uis/faqs.astro";
import CTA from "../uis/cta.astro"
import Footer from "../uis/footer.astro"

---

<Layout>
    <div class="min-h-screen bg-white">
      <Header />
      <Hero />
      <Features />
      <Benefits />
      <Plans />
      <Coverage />
      <Testimonials />
      <FAQs />
      <CTA />
      <Footer />
    </div>
</Layout>