---
import Layout from "../layouts/main.astro";
import Header from "../uis/header.astro";
import Footer from "../uis/footer.astro";

import Breadcrumb from "../uis/breadcrumb.astro";
import Institution from "../uis/institution.astro";
import FeaturedPlan from "../uis/featured-plan.astro";
import Speedtest from "../uis/speedtest.astro";
import CoverageLine from "../uis/coverage-line.astro";
import Technology from "../uis/technology.astro";
---

<Layout>
  <div class="min-h-screen bg-white">
    <Header />
    <Breadcrumb />
    <Institution />
    <FeaturedPlan />
    <Speedtest />
    <CoverageLine />
    <Technology />
    <Footer />
  </div>
</Layout>
