---
import Layout from "../layouts/main.astro";
import Header from "../uis/header.astro";
import Footer from "../uis/footer.astro";

import RegulationHero from "../uis/regulation-hero.astro";
import RegulationVital from "../uis/regulation-vital.astro";
import RegulationQuality from "../uis/regulation-quality.astro";
import RegulationInternetSano from "../uis/regulation-internet-sano.astro";
import RegulationParental from "../uis/regulation-parental.astro";
import RegulationDocs from "../uis/regulation-docs.astro";
---

<Layout>
  <div class="min-h-screen bg-white">
    <Header />
    <RegulationHero />
    <RegulationVital />
    <RegulationQuality />
    <RegulationInternetSano />
    <RegulationParental />
    <RegulationDocs />
    <Footer />
  </div>
</Layout>
