---
import Layout from "../layouts/main.astro";
import Header from "../uis/header.astro";
import Footer from "../uis/footer.astro";

import Breadcrumb from "../uis/breadcrumb.astro";
import ServicesSteps from "../uis/services-steps.astro";
import ServicesOffer from "../uis/services-offer.astro";
import ServicesTestimonials from "../uis/services-testimonials.astro";
---

<Layout>
  <div class="min-h-screen bg-white">
    <Header />
    <Breadcrumb
      title="Amplia Cobertura"
      links={[
        { label: "services", href: "/services/amplia-cobertura/" },
        { label: "Home", href: "/" },
        { label: "Contacto", href: "/#contacto" },
      ]}
    />

    <ServicesSteps />
    <ServicesOffer />
    <ServicesTestimonials />

    <Footer />
  </div>
</Layout>
