---
import type { LayoutProps } from "../types"

import "../styles/global.css"

const props = Astro.props as LayoutProps;
const title = props.title ?? "¿Quienes somos?";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    	<slot />
	</body>
</html>
